<!DOCTYPE html>
<html>
<head>
    <title>Task Notification</title>
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@8.0.7/dist/browser/signalr.min.js"></script>
    
</head>
<body>
    <h2>Team Task Dashboard</h2>
    <ul id="taskList"></ul>

    
</body>
</html>
